.single-blog{
     width: 100%;
     display: block;
     padding-top: 18vw;
}
.single-blog .single-blog-in{

}
.single-blog .single-blog-in .single-blog-header{
     max-width: clamp(720px, 47.666vw, 1430px);
     display: block;
     margin: 0 auto;
     padding-bottom: clamp(80px, 5vw, 150px);
     text-align: center;
}
.single-blog .single-blog-in .single-blog-category{
     padding: clamp(10px, 0.5vw, 15px) clamp(20px, 1.333vw, 40px);
     display: inline-block;
     background-color: #d7e9ea;
     color: #434343;
     font-size: clamp(15px, 0.63333vw, 19px);
     line-height: clamp(16px, 0.6666vw, 20px);
     font-weight: 400;
     text-transform: uppercase;
     margin-bottom: 2.8125vw;
}
.single-blog .single-blog-in .single-blog-title{
     font-size: clamp(72px, 4vw, 120px);
     line-height: clamp(72px, 4vw, 120px);
     font-family: "larken", sans-serif;
     font-weight: 300;
     display: block;
     max-width: 38.55vw;
     margin: 0 auto;
     margin-bottom: 1.5vw;
}
.single-blog .single-blog-in .single-blog-date{
     width: 100%;
     display: block;
     text-align: center;
     color: #434343;
     font-size: clamp(14px, 0.6333vw, 19px);
     line-height: clamp(16px, 0.6666vw, 20px);
     font-weight: 400;
     margin-bottom: 5vw;
}
.single-blog .single-blog-in .single-blog-excerpt{
     text-align: left;
     font-size: clamp(16px, 1vw, 30px);
     line-height: clamp(30px, 1.666vw, 50px);
     font-weight: 300;
     color: #3d1a25;
     display: block;
}
.single-blog .single-blog-in .single-blog-excerpt p{
     font-size: clamp(16px, 1vw, 30px);
     line-height: clamp(30px, 1.666vw, 50px);
     font-weight: 300;
     color: #3d1a25;
     display: block;
}


.single-blog .single-blog-in .single-blog-img{
     width: 100%;
     display: flex;
     flex-wrap: wrap;
}
.single-blog .single-blog-in .single-blog-img img{
     width: 100%;
     height: auto;
     display: block;
}

.single-blog .single-blog-in .single-blog-content{
     max-width: clamp(768px, 47.6666vw, 1430px);
     display: block;
     margin: 0 auto;
     padding-top: clamp(100px, 6vw, 180px);
     padding-bottom: clamp(100px, 6vw, 180px);
}
.single-blog .single-blog-in .single-blog-content h3{
     font-size: clamp(30px, 1.666vw, 50px);
     line-height: clamp(36px, 2vw, 60px);
     font-weight: 300;
     font-family: "larken", sans-serif;
     display: block;
     margin-bottom: clamp(30px, 1.666vw, 50px);
}
.single-blog .single-blog-in .single-blog-content p{
     font-size: clamp(16px, 1vw, 30px);
     line-height: clamp(30px, 1.666vw, 50px);
     font-weight: 300;
     color: #3d1a25;
     display: block;
     margin-bottom: clamp(30px, 1.666vw, 50px);
}
.single-blog .single-blog-in .single-blog-content ul{
     width: 100%;
     display: block;
     list-style-type: none;
     margin-bottom: clamp(30px, 1.666vw, 50px);
}
.single-blog .single-blog-in .single-blog-content ul li{
     font-size: clamp(16px, 1vw, 30px);
     line-height: clamp(30px, 1.666vw, 50px);
     font-weight: 300;
     color: #3d1a25;
     display: block;
     margin-bottom: clamp(30px, 1.666vw, 50px);
     padding-left: 1.40625vw;
     position: relative;
}
.single-blog .single-blog-in .single-blog-content ul li::before{
     content: '•';
     position: absolute;
     left: 0;
     color: #3d1a25;
     font-size: clamp(16px, 1vw, 30px);
     line-height: clamp(30px, 1.666vw, 50px);
     font-weight: 600;
     display: block;
}
.single-blog .single-blog-in .single-blog-content ul li strong{
     font-weight: 600;
}

.single-blog .single-blog-in .single-blog-content blockquote{
     margin: 4.6875vw 0;
     display: block;
     font-size: clamp(30px, 1.666vw, 50px);
     line-height: clamp(36px, 2vw, 60px);
     font-weight: 300;
     font-family: "larken", sans-serif;
     display: block;
}
.single-blog .single-blog-in .single-blog-content blockquote p{
     font-size: clamp(30px, 1.666vw, 50px);
     line-height: clamp(36px, 2vw, 60px);
     font-weight: 300;
     font-family: "larken", sans-serif;
     display: block;
}


@media screen and (max-width: 1024px) {
     .single-blog .single-blog-in .single-blog-title{
          max-width: 100%;
     }
}
@media screen and (max-width: 767px) {
     .single-blog{
          padding-top: clamp(124px, 35vw, 220vw);
     }
     .single-blog .single-blog-in .single-blog-header{
          padding-bottom: clamp(40px, 9.375vw, 60px);
     }
     .single-blog .single-blog-in .single-blog-title{
        font-size: clamp(32px, 8.375vw, 54px);
        line-height: clamp(32px, 8.375vw, 54px);
     }
     .single-blog .single-blog-in .single-blog-excerpt p{
          font-size: clamp(16px, 2.8125vw, 18px);
          line-height: clamp(24px, 4.6875vw, 30px);
     }
     .single-blog .single-blog-in .single-blog-content{
          padding-top: clamp(40px, 9.375vw, 60px);
          padding-bottom: clamp(40px, 9.375vw, 60px);
     }
     .single-blog .single-blog-in .single-blog-content p{
          font-size: clamp(16px, 2.8125vw, 18px);
          line-height: clamp(24px, 4.6875vw, 30px);
          margin-bottom: clamp(24px, 4.6875vw, 30px);
     }
     .single-blog .single-blog-in .single-blog-content h3{
          font-size: clamp(24px, 6.25vw, 40px);
          line-height: clamp(30px, 7.5vw, 48px);
          margin-bottom: clamp(24px, 4.6875vw, 30px);
     }
     .single-blog .single-blog-in .single-blog-content ul li{
          font-size: clamp(16px, 2.8125vw, 18px);
          line-height: clamp(24px, 4.6875vw, 30px);
          padding-left: 24px;
     }
     .single-blog .single-blog-in .single-blog-content ul li::before{
          font-size: clamp(16px, 2.8125vw, 18px);
          line-height: clamp(24px, 4.6875vw, 30px);
     }
     .single-blog .single-blog-in .single-blog-content blockquote{
          margin: 6.25vw 0;
          font-size: clamp(24px, 6.25vw, 40px);
          line-height: clamp(30px, 7.5vw, 48px);
     }
     .single-blog .single-blog-in .single-blog-content blockquote p{
          font-size: clamp(24px, 6.25vw, 40px);
          line-height: clamp(30px, 7.5vw, 48px);
     }
}