.contact-form-section{
  width: 100%;
  display: block;
  padding-bottom: 5vw;
}
.contact-form .contact-form-in .checkbox-input span.wpcf7-list-item.first.last {
  margin: 0;
  display: block;
  }
  .contact-form .contact-form-in .checkbox-input span.wpcf7-list-item.first.last input {
    width: 24px;
    height: 24px;
    margin: 0;
    border-radius: 0;
    margin-right: 15px;
  }
  .contact-form .contact-form-in .checkbox-input span.wpcf7-list-item.first.last label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .contact-form .contact-form-in .checkbox-input span.wpcf7-list-item.first.last label span {
    color: #3d1a25;
    font-size: clamp(14px, 0.53333vw, 16px);
    line-height: clamp(16px, 0.8vw, 24px);
    display: block;
  }
  .contact-form .contact-form-in .checkbox-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-top: clamp(40px, 2.66666vw, 80px);
  }
  .contact-form .contact-form-in .checkbox-container p {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 12px;
  }
  
  /* .contact-form .contact-form-in .checkbox-input {
    width: 18px;
    height: 18px;
    margin-top: 2px;
    accent-color: #333;
  } */
  .contact-form .contact-form-in .checkbox-container .submit-btn {
    position: relative;
    display: block;
  }
  .contact-form .contact-form-in .checkbox-container .submit-btn input {
    background-color: #3d1a25;
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    height: clamp(60px, 3.6666vw, 110px);
    cursor: pointer;
    font-family: "Be Vietnam Pro", sans-serif;
    transition: all 0.5s ease-in-out 0s;
    border: 0;
    outline: 0;
    color: #fff;
    position: relative;
    z-index: 1;
    font-size: clamp(12px, 0.6vw, 18px);
    text-transform: uppercase;
    font-family: "Be Vietnam Pro", sans-serif;
    letter-spacing: 1.2px;
    border-radius: 0 !important;
  }
  .contact-form .contact-form-in .checkbox-container .submit-btn input:hover{
    background-color: #b0d4d5;
    color: #3d1a25;
  }
  .contact-form .contact-form-in .checkbox-container .submit-btn:after,
  .contact-form .contact-form-in .checkbox-container .submit-btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: clamp(14px, 0.66vw, 18px);
    height: clamp(14px, 0.66vw, 18px);
    background-color: #ffffff;
    display: block;
    z-index: 2;
    transition: all 0.5s ease-in-out 0s;
  }
  .contact-form .contact-form-in .checkbox-container .submit-btn::after{
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
  }
  .contact-form .form-container {
    background-color: #d7e9ea;
    max-width: clamp(685px, 50.195vw, 1285px);
    width: 100%;
    padding: 0;
    margin-bottom: clamp(48px, 3.515vw, 90px);
  }
  .contact-form .form-container.bg-white {
    background-color: #fff;
  }
  .contact-form .form-container.bg-white .form-title {
  color: #fff;
  }
  .contact-form .form-container.bg-white .form-group input, 
  .contact-form .form-container.bg-white .textarea-group textarea {
    border-bottom: 1px solid #828282;
    color: #828282;
  }
  .contact-form .form-container.bg-white .form-group input::placeholder, 
  .contact-form .form-container.bg-white .textarea-group textarea::placeholder {
    color: #828282;
  }
  .contact-form .contact-form-in .form-title {
    font-weight: 300;
    margin-bottom: clamp(45px, 3.32vw, 85px);
    font-size: clamp(28px, 1.563vw, 40px);
  }
  .contact-form .widget .checkbox-group .wpcf7-form-control.wpcf7-checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    /* max-width: clamp(280px, 35.093vw, 540px); */
  }
  .contact-form .widget .checkbox-group .wpcf7-form-control.wpcf7-checkbox .wpcf7-list-item {
  margin: 0;
  }
  .contact-form .widget .checkbox-group .wpcf7-form-control.wpcf7-checkbox span.wpcf7-list-item-label {
    color: #828282;
    font-size: clamp(12px, 0.53333vw, 16px);
    text-transform: uppercase;
  }
  .contact-form .contact-form-in .form-group {
    position: relative;
  }
  
  .contact-form .contact-form-in .form-group input, 
  .contact-form .contact-form-in .textarea-group textarea {
    width: 100%;
    padding: 1vw 0;
    font-size: clamp(16px, 0.73333vw, 22px);
    line-height: clamp(20px, 1vw, 28px);
    color: #333;
    background: transparent;
    border: none;
    border-bottom: 1px solid #666;
    outline: none;
    transition: all 0.3s ease-in-out 0s;
    font-family: "Be Vietnam Pro", sans-serif;
    display: block;
    border-radius: 0 !important;
  }
  .contact-form .form-container.bg-white .textarea-group textarea{
    height: 8vw;
    resize: none;
  }
  @media screen and (max-width: 768px) {
    .contact-form .contact-form-in .form-group input, 
    .contact-form .contact-form-in .textarea-group textarea {
      padding: 12px 0;
    }
    .contact-form .contact-form-in .textarea-group textarea,
    .contact-form .form-container.bg-white .textarea-group textarea{
      height: 100px;
    }
    .contact-form .contact-form-in .checkbox-container {
        flex-wrap: wrap;
    }
    .contact-form .contact-form-in .checkbox-container > p{
        width: 100%;
    }
    .contact-form .contact-form-in .checkbox-container .submit-btn{
        margin-top: 24px;
    }
    .contact-form .contact-form-in .checkbox-container .submit-btn input{
        padding: 0 32px;
        letter-spacing: 1.2px;
    }
  }
  .contact-form-section .contact-form-section-in {
    justify-content: space-between;
  }
  .contact-form-section .contact-form-section-in .contact-widget {
    background-color: #d7eaea;
    min-width: 320px;
    height: 480px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0;
    flex: 0 0 34.5%;
  }

  .contact-form-section .contact-form-section-in .title {
    font-size: clamp(26px, 1.666666vw, 50px);
    font-weight: 400;
    color: #3d1a25;
    margin-bottom: clamp(48px, 3vw, 88px);;
    letter-spacing: -0.5px;
    line-height: 1.2;
  }

  .contact-form-section .contact-form-section-in .contact-info {
    display: flex;
    flex-direction: column;
    gap: clamp(14px, 1vw, 24px);
  }

  .contact-form-section .contact-form-section-in .info-group {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .contact-form-section .contact-form-section-in .info-line,
  .contact-form-section .contact-form-section-in .info-line a {
    font-size: clamp(14px, 0.6vw, 18px);
    font-weight: 400;
    color: #3d1a25;
    line-height: clamp(14px, 0.8vw, 24px);
    font-family: "Be Vietnam Pro", sans-serif;
  }

  .contact-form-section .contact-form-section-in .email {
    text-decoration: none;
    font-size: clamp(14px, 0.6vw, 18px);
    font-weight: 400;
    color: #3d1a25;
  }

  .contact-form-section .contact-form-section-in .email:hover {
    text-decoration: underline;
  }

  .contact-form-section .contact-form-section-in .appointment {
    margin-top: 40px;
    font-size: clamp(16px, 0.66w, 18px);
    font-weight: 400;
    color: #3d1a25;
    text-transform: uppercase;
  }
  .contact-form-section .contact-form-section-in .contact-form {
    flex: 0 0 55.5%;
  }
@media screen and (max-width: 768px) {
  .contact-form-section .contact-form-section-in {
    margin-bottom: 70px;
  }
  .contact-form-section .contact-form-section-in .contact-form {
    flex: 0 0 100%;
  }
  .contact-form .contact-form-in .checkbox-container {
    flex-wrap: wrap;
  }
  .contact-form .widget .checkbox-group .wpcf7-form-control.wpcf7-checkbox {
    gap: 10px;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .contact-form .widget {
    padding: 40px 30px;
  }
  .contact-form .contact-form-in .budget-input {
    width: 110px;
  }
  
}