.footer .footer-in .footer-top-row {
    margin-bottom: 4.17vw;
}
.footer .footer-in .footer-top-row .footer-top-row-left {
    flex: 0 0 40%;
}
.footer .footer-in .footer-top-row .footer-top-row-right {
    flex: 0 0 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.footer .footer-in .footer-top-row .footer-top-row-right .footer-menu h3, .footer .footer-in .footer-top-row .footer-top-row-right .footer-contact-info ul li, .footer .footer-in .footer-top-row .footer-top-row-right .footer-menu ul li a, .footer .footer-in .footer-top-row .footer-top-row-right .footer-contact-info ul li a, .footer .footer-in .footer-top-row .footer-top-row-right .footer-menu ul li, .footer .footer-in .footer-top-row .footer-top-row-right .footer-contact-info h3 {
    color: #ffedde;
    font-size: 0.98vw;
    font-family: "Be Vietnam Pro", sans-serif;
}
.footer .footer-in .footer-top-row .footer-top-row-right .footer-menu h3, .footer .footer-in .footer-top-row .footer-top-row-right .footer-contact-info h3 {
    margin-bottom: 2.4vw;
}
.footer .footer-in .footer-top-row .footer-top-row-right .footer-contact-info ul li, .footer .footer-in .footer-top-row .footer-top-row-right .footer-menu ul li {
    margin-bottom: 1.04vw;
}

.footer .footer-in .footer-bottom-row {
width: 100%;
flex-wrap: wrap;
align-items: center;
align-content: center;
}
.footer .footer-in .footer-bottom-row .footer-bottom-row-left {
    flex: 0 0 40%;
}
.footer .footer-in .footer-bottom-row .footer-bottom-row-left .footer-credit p, .footer .footer-in .footer-bottom-row .footer-bottom-row-left .footer-bottom-menu ul li, .footer .footer-in .footer-bottom-row .footer-bottom-row-left .footer-bottom-menu ul li a {
    color: #794757;
    font-size: 0.98vw;
    font-family: "Be Vietnam Pro", sans-serif;
}
.footer .footer-in .footer-bottom-row .footer-bottom-row-left .footer-bottom-menu ul li {
    align-items: center;
    align-content: center;
    padding: 0 8px 0 0;
}
.footer .footer-in .footer-bottom-row .footer-bottom-row-right {
    flex: 0 0 60%;
    display: flex;
    justify-content: flex-end;
}
.footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-bottom-logo-wrap.flex {
    align-items: baseline;
    align-content: center;
    align-self: center;
    gap: 2.34vw;
}
.footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons {
    background-color: #b0d4d5;
    height: 9.38vw;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.98vw;
    padding: 0 1vw 0 3vw;
    margin-left: 5vw;
}
.footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons .footer-social-icons-text {
    font-size: 0.94vw;
    line-height: 58px;
    color: #3d1a25;
    font-family: "Larken";
}
.footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons  .footer-social-icons-logo {
    border: 1px solid rgba(61,26,37,0.4);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons:after {
    content: "";
    width: 15vw;
    height: 9.38vw;
    background-color: #b0d4d5;
    position: absolute;
    bottom: 0;
    right: 0;
}
@media screen and (min-width: 1024px) and (max-width: 1420px) {
    .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons {
        padding: 0 1vw 0 1vw;
        margin-left: 1vw;
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons  .footer-social-icons-logo {
        width: 40px;
        height: 40px;
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons  .footer-social-icons-logo:nth-child(2) img {
        width: 10px;
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons  .footer-social-icons-logo:nth-child(3) img, .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons  .footer-social-icons-logo:nth-child(4) img {
        width: 15px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons {
        padding: 0 1vw 0 1vw;
        margin-left: 1vw;
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons  .footer-social-icons-logo {
        width: 30px;
        height: 30px;
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons  .footer-social-icons-logo:nth-child(2) img {
        width: 8px;
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons  .footer-social-icons-logo:nth-child(3) img, .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons  .footer-social-icons-logo:nth-child(4) img {
        width: 12px;
    }
    .footer .footer-in .footer-top-row .footer-top-row-left .footer-logo img{
        width: 120px;
    } 
}
@media screen and (max-width: 767px) {
    footer.footer .footer-in {
        padding: 24vw 0 0;
        max-width: 100%;
    }
    .footer .footer-in .footer-top-row .footer-top-row-left .footer-logo {
        margin-bottom: 20vw;
    }
    .footer .footer-in .footer-top-row .footer-top-row-left .footer-logo img{
        width: 120px;
    }
    .footer .footer-in .footer-top-row {
        text-align: center;
    }
    .footer .footer-in .footer-top-row .footer-top-row-left, .footer .footer-in .footer-bottom-row .footer-bottom-row-left, .footer .footer-in .footer-bottom-row .footer-bottom-row-right {
        flex: 0 0 100%;
    }
    .footer .footer-in .footer-top-row .footer-top-row-right {
        flex: 0 0 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer .footer-in .footer-top-row .footer-top-row-right .footer-menu h3 {
        display: none;
    }
     .footer .footer-in .footer-top-row .footer-top-row-right .footer-contact-info ul li, .footer .footer-in .footer-top-row .footer-top-row-right .footer-menu ul li a, .footer .footer-in .footer-top-row .footer-top-row-right .footer-contact-info ul li a, .footer .footer-in .footer-top-row .footer-top-row-right .footer-menu ul li, .footer .footer-in .footer-top-row .footer-top-row-right .footer-contact-info h3  {
        font-size: 4.8vw;
        margin-bottom: 6.67vw;
    }
    .footer .footer-in .footer-top-row .footer-top-row-right .footer-contact-info h3 {
        margin-top: 6.67vw;
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-right {
        flex-direction: column;
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons {
        background-color: #3d1a25;
        order: 1;
        width: 100%;
        justify-content: center;
        padding: 0;
        margin: 12.33vw 0;
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-bottom-logo-wrap.flex {
        order: 2;
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-left {
        order: 3;
        padding: 6vw 0;
        text-align: center;
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons:after {
        display: none;
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-left .footer-credit p, .footer .footer-in .footer-bottom-row .footer-bottom-row-left .footer-bottom-menu ul li, .footer .footer-in .footer-bottom-row .footer-bottom-row-left .footer-bottom-menu ul li a {
        font-size: 4.27vw;
        line-height: 6vw;
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-left .footer-bottom-menu ul {
       justify-content: center;
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons .footer-social-icons-logo img {
        filter: invert(1);
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons .footer-social-icons-logo {
        border: 1px solid rgba(227, 227, 227, 0.4);
    }
    .footer .footer-in .footer-bottom-row .footer-bottom-row-right .footer-social-icons .footer-social-icons-text {
        font-size: 6.4vw;
        color: #ffedde;
    }
}