
.text-section .text-section-in {
  padding-top: 6.25vw;
  padding-bottom: 93px;
}
.text-section .text-section-in h3 {
  font-size: 1.953125vw;
  line-height: 3.125vw;
  color: #3d1a25;
  font-weight: 300;
  font-family: "larken", sans-serif;
  display: block;
}
  